@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background: hsl(233, 47%, 7%);

  /* font-size: 62.5%; */
}
body {
}
h1 {
  color: hsl(0, 0%, 100%);
  font-family: Inter;
  font-weight: 700;
  text-align: center;
}
h1 span {
  color: hsl(277, 64%, 61%);
}
p {
  padding: 20px 20px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 1.5em;
}
ul {
  color: hsla(0, 0%, 100%, 0.6);

  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 15px;
  list-style: none;
  text-align: center;
}
ul span {
  font-family: "Lexend Deca";
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-top: 20px;
  margin-bottom: 5px;
}
.card {
  background: hsl(244, 38%, 16%);
  /* min-width: 320px; */
  max-width: 280px;
  margin: 60px auto;
  border-radius: 5px;
}
.card-image {
  width: 280px;
}
.card-image img {
  width: 100%;
  filter: hsl(277, 64%, 61%);
}

.card-bullets {
  display: flex;
  justify-content: center;
}
.card-bullets span {
  display: block;
  font-size: 2em;
}
