@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background: hsl(233, 47%, 7%);
}
h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
h1 span {
  color: hsl(277, 64%, 61%);
}
p {
  padding: 20px 0;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  line-height: 1.5em;
}
ul {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 15px;
  list-style: none;
  text-align: center;
}

.card {
  background: hsl(244, 38%, 16%);
  width: 87.5%;
  max-width: 654px;
  margin: 60px auto 0 auto;
  border-radius: 8px;
}
.card-image {
  display: block;
  position: relative;
  max-width: 100%;
  height: 240px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: url("./images/image-header-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-image:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 82%, 41%);
  opacity: 0.4;
}

.card-details {
  font-family: "Inter", Arial, Helvetica;
  padding: 30px 25px 0 25px;
  text-align: center;
}
.card-bullets {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.card-bullets span {
  display: block;
  font-size: 2em;
  font-family: "Lexend Deca";
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-top: 20px;
  margin-bottom: 5px;
}

.attribution {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 10px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin-top: 0;
  padding-bottom: 20px;
}
.attribution a {
  color: hsl(277, 82%, 41%);
  text-decoration: none;
}

@media only screen and (min-width: 1000px /*970px*/) {
  .card {
    width: 75vw;
    max-width: 1080px;
    height: 446px;
    margin: 15vh 12.5vw;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
  }

  .card-image {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 0;
    background-image: url("./images/image-header-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 446px;
    width: 37.5vw;
    max-height: 100%;
    right: 0px;
  }
  .card-image:before {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 0;
  }

  .card-details {
    width: 37.5vw;
    padding-left: 40px;
    padding-right: 70px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-bullets {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .card-bullets ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
